Dockerfile
docker-compose.yml
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.github
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock
android
*.log
local-*
.env
.env.*
!.env.example
